<!DOCTYPE html>
<header>
    <title>about</title>
  <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./CSS/styles.css">
</header>

<body>
    <div class="main-content">
        {{>header}}
        <p>This was created by Praveen and using mapbox.com and darksky.net</p>
        <img class="portrait" src="img/DLG.JPG" />
    </div>

    {{>footer}}
</body>

</html>